/*body {
  font-family: 'Kanit', sans-serif;
  background-color: #2E2E2E;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
*/

body {
  font-family: 'Kanit', sans-serif;
  background: linear-gradient(-45deg, #001f3f, #0074D9, rgb(2, 36, 50), #3d0bbb);
  background-size: 400% 400%;
  animation: lavaLamp 10s ease infinite;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

/* Animazione del gradiente */
@keyframes lavaLamp {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  position: fixed;
  top: 10px;
}

/* Cambia il colore del titolo */
h1 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #4d9246; /* Verde */
}

/* Mantiene la struttura della leaderboard */
.leaderboards {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.leaderboard {
  background-color: #E0E0E0;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 300px;
  text-align: center;
}

/* Tabelle con angoli smussati */
.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 30px;
  overflow: hidden;
}



/* Intestazione tabella */
.leaderboard-table th {
  background-color: #4d9246;
  color: white;
  font-weight: bold;
}

/* Alternanza colori righe normali */
.leaderboard-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.leaderboard-table tr:hover {
  background-color: #ddd;
}

/* Evidenziazione prime tre posizioni */
.leaderboard-table tr:first-child td {
  background-color: gold; /* Oro per il primo */
  font-weight: bold;
}

.leaderboard-table tr:nth-child(2) td {
  background-color: silver; /* Argento per il secondo */
  font-weight: bold;
}

.leaderboard-table tr:nth-child(3) td {
  background-color: #cd7f32; /* Bronzo per il terzo */
  font-weight: bold;
}

