body {
    font-family: 'Kanit', sans-serif;
    background-color: #2E2E2E;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;  
    height: 300vh;
}

/* The main container that holds the pages */
.page {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: flex-start;  
    height: 100vh;  
    scroll-snap-align: start;
    padding-top: 30px; 
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #4d9246;
}

h2 {
    max-width: 1000px;
    font-size: 18px;
    text-align: justify;
    margin: 0 20px;
    color: #E0E0E0;
    padding: 10px;
    font-weight: normal;
}
