body{
     font-family: Arial, sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }
   
   h1 {
     text-align: center;
     vertical-align: center;
     font-style: italic;
   }
   
   .keyboard {
     width: 1000px;
     height: 600px;
     background-color: dimgrey;
     border-radius: 50px;
     padding: 50px;
     transition: box-shadow 0.2s ease;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
   }
   
   .wkeys {
     width: 900px;
     height: 304px;
     display: flex;
     position: relative;
     left: 50px;
     bottom: -230px;
   }
   
   .key {
     width: 800px;
     height: 300px;
     background-color: white;
     margin: 2px;
     border: 2px;
     position: relative;
     align-self: flex-end;
     border-radius: 20px;
     cursor: pointer;
     justify-content: center;
     align-items: center;
     display: flex;
     transition: box-shadow 0.2s ease;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   }
   
   .bkeys {
     display: flex;
     width: 645px;
     height: 210px;
     display: flex;
     position: relative;
     left: 117px;
     bottom: 78px;
   }
   
   .bkey {
     width: 90px;
     height: 200px;
     background-color: black;
     margin: 5px;
     border: 2px;
     position: relative;
     border-radius: 20px;
     cursor: pointer;
     justify-content: center;
     align-items: center;
     display: flex;
     transition: box-shadow 0.2s ease;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   }
   
   #Fs3 {
     left: 145px;
   }
   
   #Gs3 {
     left: 145px;
   }
   
   #As3 {
     left: 145px;
   }
   
   .key.on {
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6), inset 0 0 10px rgba(106, 90, 205, 0.6);
   }
   
   .bkey.on {
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6), inset 0 0 10px rgba(106, 90, 205, 0.6);
   }
   
   .led{
     width: 30px;
     height: 30px;
     border-radius: 30px;
     background-color:red;
     position: absolute;
     bottom: 20px;
     opacity: 0;
     transition: opacity 0.2s;
   }
   
   .key.on .led{
       opacity: 0;
       background-color: red;
   }
   
   .bkey.on .led{
       opacity: 0;
       background-color: red;
   }
   
   .controls {
     height: 104px;
     width: 1000px;
     position: relative;
     bottom: 0px;
   }
   
   .waveform-controls {
     height: 100px;
     width: 400px;
     background-color: darkgrey;
     justify-content: center;
     align-items: center;
     display: flex;
     gap: 10px; /* Spazio tra i pulsanti */
     margin-top: 10px; /* Spazio sopra i pulsanti */
     position: relative;
     border-radius: 20px;
     right: -596px;
     top: -110px;
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
   }
   
   .volume-controls {
     width: 300px;
     height: 100px;
     background-color: darkgrey;
     gap: 10px; /* Spazio tra i pulsanti */
     justify-content: center;
     align-items: center;
     display: flex;
     border-radius: 20px;
       box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
   }
   
   .waveform-button {
       padding: 10px 15px;
       border: none;
       border-radius: 5px;
       background-color: lightgrey; /* Colore di base */
       color: black;
       cursor: pointer;
       transition: background-color 0.2s;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra */
   }
   
   .waveform-button:hover {
       background-color: grey; /* Colore al passaggio del mouse */
   }
   
   .waveform-button.active {
       background-color: grey; /* Colore attivo */
   }
   
   .signature {
     position: relative;
     width: 300px;
     height: 80px;
     background-color: #ba926c;
     border-radius: 20px;
     align-items: central;
     justify-content: center;
     display: flex;
     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Ombra */
     top: -400px;
     left: 600px;
   }